pkgbase = shellmon
	pkgdesc = Monitor de sockets de rede em tempo real no terminal (TUI), com foco defensivo
	pkgver = 0.1.4
	pkgrel = 1
	url = https://github.com/ecodelearn/shell_mon
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = iproute2
	depends = gcc-libs
	optdepends = libnotify: notificações de desktop em eventos de alta severidade
	optdepends = alacritty: painel "sempre na tela" (shellmon-panel)
	source = shellmon-0.1.4.tar.gz::https://github.com/ecodelearn/shell_mon/archive/refs/tags/v0.1.4.tar.gz
	sha256sums = 39de67dc16a357885c111b74e98bacf5b3cc055c02b7fbc5f7c624637045ddf8

pkgname = shellmon
